.Header {
	height: 120px;
	background-color: #0D4212;
	text-align: center;
}

.Header-logo {
	height: 130px;
	padding-bottom: 10px;
}

.Header-right {
	color: #F7F4E3;
	position: relative;
	top: 70%;
}

.Header-category {
	text-align: center;
	padding: 13px 0 13px 0;
	margin: 0 auto;
}

.Header-button {
	width: 170px;
	height: 40px;
	margin-right: 5px;
    margin-left: 5px;
	border-radius: 15px;
	border: 0;
	background-color: #F7F4E3;
	color: #0D4212;
}

.Header-button-clicked {

}

.menu-tag {
	margin-left: 10px;
	margin-right: 10px;;
}

.menu-tag:hover {
	cursor: pointer;
}

.Header-line {
	margin-left: 25% !important;
	margin-right: 25% !important;
	margin-bottom: 15px;
}

a.header-menu {
	color: #F7F4E3 !important;
	text-decoration: none !important;
	outline: none !important;
}

.Menu-select {
	display: block;
	position: relative;
	margin-bottom: 10px;
	height: 30px;
}

.Menu-select-box ul:nth-child(2	) {
	height: 100px;
}

.Menu-select-box {
	display: none;
	position: absolute;
	width: 120px;
	background-color: #D2E1C8;
	top: 29px;
	left: -2px;

}

.Menu-select:hover .Menu-select-box {
	display: block;
}

.Menu-select-box:hover {
	display: block;
}

.Menu-select-box ul {
	padding-left: 0;
	margin-bottom: 0;
}

.Menu-select-box li {
	list-style: none;
	text-align: center;
	margin: 5px 2px 5px 2px;
}

.Menu-select-box li a {
	color: #0D4212 !important;
}

.Header-button:hover {
	font-weight: bold;
}

.b_1 {
	float: left;
}

.b_2 {
	float: left;
}

.b_3 {
	float: left;
}

.b_4 {
	float: left;
}

.b_5 {
	float: left;
}

